<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lowermainlandpharmacyservices.lmpsformulary"
    android:versionCode="13"
    android:versionName="1.8.4">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Activity.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity
            android:name=".Activity.DisplayFormularyResult"
            android:label="@string/title_activity_display_formulary_result" />
        <activity
            android:name=".Activity.DisplayRestrictedResult"
            android:label="@string/title_activity_display_restricted_result" />
        <activity
            android:name=".Activity.DisplayExcludedResult"
            android:label="@string/title_activity_display_excluded_result" />
        <activity
            android:name=".Activity.DisplayOtherResult"
            android:label="@string/title_activity_display_other_result" />
        <activity
            android:name=".Activity.HelpActivity"
            android:label="@string/title_activity_help" />
        <activity android:name=".Activity.ResultsActivity" />
        <activity android:name=".Activity.DrugClassActivity"></activity>
    </application>

</manifest>